.blog {
    font-family: "Poppins", Arial, sans-serif;
}

.blog h3 {
    font-size: 1.5rem;
    line-height: 1.75rem;
    font-weight: 600;
    margin-bottom: 1rem;
    margin-top: 3rem;
}

.blog p {
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin-bottom: 1rem;
}