@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Courgette";
	src: url("../public/fonts/Courgette-Regular.ttf");
}

@font-face {
	font-family: "Poppins";
	src: url("../public/fonts/Poppins-Regular.ttf");
}

nav li a {
	position: relative;
	overflow: hidden;
	z-index: 1;
}

nav li a:after {
	display: block;
	position: absolute;
	margin: 0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	content: ".";
	color: transparent;
	width: 1px;
	height: 1px;
	border-radius: 50%;
	background: transparent;
}

nav li a:hover {
	color: #000;
}

nav li a:hover:after {
	animation: circle 0.2s ease-in forwards;
}

div a.hero-post:nth-child(4) {
	padding-bottom: 0 !important;
	border: none !important;
}

@keyframes circle {
	0% {
		width: 1px;
		top: 0;
		left: 0;
		margin: auto;
		height: 1px;
		z-index: -1;
		background: #eee;
		border-radius: 100%;
	}

	100% {
		background: #fff;
		height: 160%;
		width: 160%;
		z-index: -1;
		top: -10%;
		left: -30%;
		margin: auto;
		border-radius: 5%;
	}
}
